.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Body {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Items {
  flex: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Items ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.Cart {
  margin: 20px 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
